/*

$primary1Color: #4786a6;
$primary2Color: #29b6f6;
$primary3Color: #039be5;
$accent1Color: #9575cd;
$accent2Color: #f5f5f5;
$accent3Color: #9e9e9e;
$textColor: #212121;
$alternateTextColor: #ffffff; */

html {
  background-color: #f3f3f3;
  font-family: Roboto, Arial, sans-serif;
}

p {
  line-height: 0.5;
}

.app-wrapper {
  margin-top: 5rem;
}

.content-area {
  margin-left: 30;
}

/* APP SPECIFIC STYLES */
/* $main-color: #4786a6; */

.snackbar {
  left: 2rem;
  right: initial;
}

.menuwrapper {
  max-width: 1280px;
  margin: auto;
  z-index: 1390;
  position: relative;
  float: right;
  margin-top: 1em;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  margin: auto;
}

.progressWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.5);
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 10em;
  z-index: 5000;
}

.accessDeniedTitle {
  color: #ff4136 !important;
}
.accessDeniedDialog {
}
.accessDeniedBackground {
  background-color: #fff !important;
}

.title {
  margin-bottom: 0;
  width: 30em;
}
.subTitle {
  color: #717171;
  font-weight: lighter;
  margin-top: 0;
  width: 30em;
}

.subdued {
  color: #9e9e9e;
}

.card {
  padding: 1.5em;
  margin: 0.5em;
}

.card.filters {
  width: 94%;
}

.card.streams {
  width: 67%;
  float: left;
  min-height: 15em;
  min-width: 40em;
}

.card.actions {
  width: 21%;
  min-height: 15em;
  min-width: 13em;
  float: left;
}

.card.listing.show-user-details {
  width: 60%;
}

.card.listing {
  width: 98%;
  padding: 0;
}

.card.listing h2 {
  padding-left: 1em;
}

.card.details {
  top: 230px;
  width: 30%;
  position: fixed;
  right: 0;
}

.card.details p {
  margin: 12px 0;
}

.listingRow h4 {
  margin-bottom: 0;
}

.listingRow p {
  margin: 5px 0 5px 10px;
}

.rotate90 {
  transform-origin: right;
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

p .material-icons {
  vertical-align: middle;
}
